.gridService {
  display: grid;
  grid-template-columns: auto 286px 10px 286px 10px 286px auto;

  .service-1 {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .service-2 {
    grid-column-start: 4;
    grid-column-end: 5;
  }

  .service-3 {
    grid-column-start: 6;
    grid-column-end: 7;
  }

  div > .card {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    position: relative;
    display: flex;
    flex-direction: column;
    width: 18rem;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    > img {
      width: 100%;
      vertical-align: middle;
      border-style: none;
    }
    > div {
      flex: 1 1 auto;
      padding: 1.25rem;
      > h5 {
        margin-top: 0;
        margin-bottom: 0.75rem;
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.2;
      }

      > p {
        margin: 0;
      }
    }
    @media screen and (max-width: 930px) {
      margin-bottom: 10px;
      width: 100%;
    }
  }
  @media screen and (max-width: 930px) {
    display: block;
  }
}
