.container:nth-child(odd) {
  min-height: 100px;
  color: #f8f9fa;
  background-color: #343a40;
  width: 100%;
  padding: 1rem;
  text-align: center;
  font-size: 1.25rem;
  > h5 {
    margin: 0;
    padding-bottom: 1.5rem;
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
  > p {
    max-width: 1000px;
    font-weight: 300;
  }
}

.container {
  min-height: 100px;
  color: #343a40;
  background-color: #f8f9fa;
  width: 100%;
  padding: 1rem;
  text-align: center;
  font-size: 1.25rem;
  > h5 {
    margin: 0;
    padding-bottom: 1.5rem;
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
  > p {
    max-width: 1000px;
    margin: 0 auto;
    font-weight: 300;
  }
}
